// шрифти
$fontPrimary: 'Poppins', sans-serif;
$fontSecondary: 'Inter', sans-serif;
$fontModal: 'Montserrat', sans-serif;
$fontFooter: 'Roboto', sans-serif;
// кольори
$colorTextSecondary: #2d2a22;
$colorTextPrimary: #7e6d53;
$colorBgPrimary: #fcfcfb;
$colorText: #ffffff;
$colorAccent: #cda274;
$colorTextModal: #35322d;
$colorBackground: #eaddd0;
