<section class="apartment">
  <div class="apartment__container container">
    <h1 class="apartment__tittle">Choose your apartment</h1>
    <article class="apartment__card">
      <div class="apartment__photo">
        <img
          src="../img/first-apartment.webp"
          alt="apartment-img"
          class="apartment__img img"
        />
        <hgroup class="apartment__hgroup hgroup">
          <h2 class="apartment__subtitle">Type 1</h2>
          <p class="apartment__text">total area 23 meters</p>
        </hgroup>
      </div>
    </article>

    <article class="apartment__card">
      <div class="apartment__photo">
        <img
          src="../img/second-apartment.webp"
          alt="apartment-img"
          class="apartment__img img"
        />
        <hgroup class="apartment__hgroup hgroup">
          <h2 class="apartment__subtitle">Type 2</h2>
          <p class="apartment__text">total area 27 meters</p>
        </hgroup>
      </div>
    </article>

    <article class="apartment__card">
      <div class="apartment__photo">
        <img
          src="../img/third-apartment.webp"
          alt="apartment-img"
          class="apartment__img img"
        />
        <hgroup class="apartment__hgroup hgroup">
          <h2 class="apartment__subtitle">Type 3</h2>
          <p class="apartment__text">total area 31 meters</p>
        </hgroup>
      </div>
    </article>

    <button class="apartment__button button">Download catalog</button>
  </div>
</section>
