<section class="apartment">
  <div class="apartment__container container">
    <h2 class="apartment__tittle">Choose your apartment</h2>
    <div class="apartment__wrap">
      <article class="apartment__card apartment__card--first">
        <div class="apartment__photo">
          <img
            src="./images/apartment/first-apartment.webp"
            alt="apartment-img"
            class="apartment__img img"
          />
          <hgroup class="apartment__hgroup hgroup">
            <h3 class="apartment__subtitle">Type 1</h3>
            <p class="apartment__text">total area 23 meters</p>
          </hgroup>
        </div>
      </article>

      <article class="apartment__card apartment__card--second">
        <div class="apartment__photo">
          <img
            src="./images/apartment/second-apartment.webp"
            alt="apartment-img"
            class="apartment__img img"
          />
          <hgroup class="apartment__hgroup hgroup">
            <h2 class="apartment__subtitle">Type 2</h2>
            <p class="apartment__text">total area 27 meters</p>
          </hgroup>
        </div>
      </article>

      <article class="apartment__card apartment__card--third">
        <div class="apartment__photo">
          <img
            src="./images/apartment/third-apartment.webp"
            alt="apartment-img"
            class="apartment__img img"
          />
          <hgroup class="apartment__hgroup hgroup">
            <h2 class="apartment__subtitle">Type 3</h2>
            <p class="apartment__text">total area 31 meters</p>
          </hgroup>
        </div>
      </article>
    </div>

    <button class="button apartment__button" type="button" data-modal-pop-open>
      Download catalog
    </button>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="backdrop is-hidden-pop" data-modal-pop>
      <div class="modal-pop">
        <button class="modal__btn-close--pop" data-modal-pop-close>
          <svg class="icon__close--pop">
            <use href="#" />
          </svg>
        </button>
        <div class="modal__phoyo--pop">
          <img src="./images/apartment/pop-up.png" alt="person" />
        </div>
        <div class="modal__meta--pop">
          <h3 class="modal__title--pop">Download the catalog</h3>
          <p class="modal__text--pop">
            We will send you more photos, videos and information by mail
          </p>
          <form class="form__field--pop" tabindex="1" action="#">
            <div class="field__meta--pop">
              <input
                class="field__input--pop"
                type="email"
                placeholder="EMAIL ADRESS"
              />
            </div>
            <button class="field__button--pop" type="submit">#</button>
          </form>
        </div>
      </div>
    </div>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  </div>
</section>
