<section class="footer">
  <div class="conatiner footer__container">
    <!-- LOGO FOOTER -->
    <img src="#" alt="NICE VIEW" />
    <div class="footer__list">
      <!-- FIRST LIST -->
      <ul class="navigation__list">
        <li class="navigation__item">
          <h4 class="navigation__title">Navigation</h4>
        </li>
        <li class="navigation__item">
          <p class="navigation__text">Home</p>
        </li>
        <li class="navigation__item">
          <p class="navigation__text">About</p>
        </li>
        <li class="navigation__item">
          <p class="navigation__text">Apartments</p>
        </li>
        <li class="navigation__item">
          <p class="navigation__text">Infrastructure</p>
        </li>
        <li class="navigation__item">
          <p class="navigation__text">Gallery</p>
        </li>
      </ul>
      <!-- SECOND LIST -->
      <ul class="contacts__list">
        <li class="contacts__item">
          <h4 class="contacts__title">Contacts</h4>
        </li>
        <li class="contacts__item">
          <p class="contacts__text">(406) 555-0120</p>
        </li>
        <li class="contacts__item">
          <p class="contacts__text">ul. Chodkiewicza Karola 111, Chorzów</p>
        </li>
        <li class="contacts__item">
          <p class="contacts__text">deanna.curtis@example.com</p>
        </li>
      </ul>
    </div>
    <div class="social__icons">
      <!-- ICON LIST -->
      <ul class="icons__list">
        <li class="social__icon">#</li>
        <li class="social__icon">#</li>
        <li class="social__icon">#</li>
        <li class="social__icon">#</li>
      </ul>
    </div>
    <!-- TEXT -->
    <p>
      By using this website, you agree to the
      <span class="footer__span"> Terms of Service</span> and
      <span class="footer__span">Privacy Policy</span>
    </p>
  </div>
</section>
