<section class="footer">
  <div class="conatiner footer__container">
    <!-- LOGO FOOTER -->
    <img src="#" alt="NICE VIEW" />
    <div class="footer__list">
      <!-- FIRST LIST -->
      <ul class="navigation__list">
        <li class="navigation__item">
          <h3 class="navigation__title">Navigation</h3>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">About</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Apartments</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Infastructure</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Gallery</a>
        </li>
      </ul>
      <!-- SECOND LIST -->
      <ul class="contacts__list">
        <li class="contacts__item">
          <h3 class="contacts__link">Contacts</h3>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:(406) 555-0120">(406) 555-0120</a>
        </li>
        <li class="contacts__item">
          <p class="contacts__link">ul. Chodkiewicza Karola 111, Chorzów</p>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="mailto:deanna.curtis@example.com"
            >deanna.curtis@example.com</a
          >
        </li>
      </ul>
    </div>
    <div class="social__icons">
      <!-- ICON LIST -->
      <ul class="icons__list">
        <li class="social__icon">
          <!-- <a href="https://www.youtube.com/"></a> -->
        </li>
        <li class="social__icon">
          <!-- <a href="https://www.instagram.com/"></a> -->
        </li>
        <li class="social__icon">
          <!-- <a href="https://x.com/?lang=uk"></a> -->
        </li>
        <li class="social__icon">
          <!-- <a href="https://www.facebook.com/?locale=uk_UA"></a> -->
        </li>
      </ul>
    </div>
    <!-- TEXT -->
    <p>
      By using this website, you agree to the
      <span class="footer__span"> Terms of Service</span> and
      <span class="footer__span">Privacy Policy</span>
    </p>
  </div>
</section>
