<footer class="footer">
  <div class="conatiner footer__container">
    <!-- LOGO FOOTER -->

    <img class="footer__logo" src="./images/footer/logo.png" alt="NICE VIEW" />

    <div class="footer__meta">
      <div class="social-footer__list">
        <div class="footer__list">
          <!-- FIRST LIST -->
          <ul class="navigation__list">
            <li class="navigation__item">
              <h3 class="navigation__title">Navigation</h3>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#hero">Home</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#philosophy">About</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#apartment">Apartments</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#infrastructure"
                >Infastructure</a
              >
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#gallery">Gallery</a>
            </li>
          </ul>
          <!-- SECOND LIST -->
          <ul class="contacts__list">
            <li class="contacts__item">
              <h3 class="contacts__title">Contacts</h3>
            </li>
            <li class="contacts__item">
              <a class="contacts__link" href="tel:(406) 555-0120"
                >(406) 555-0120</a
              >
            </li>
            <li class="contacts__item">
              <p class="contacts__link">ul. Chodkiewicza Karola 111, Chorzów</p>
            </li>
            <li class="contacts__item contacts__item-email">
              <a class="contacts__link" href="mailto:deanna.curtis@example.com"
                >deanna.curtis@example.com</a
              >
            </li>
          </ul>
        </div>
        <div class="social__icons">
          <!-- ICON LIST -->

          <ul class="icons__list">
            <li class="icons__item">
              <a class="icons__link" href="https://www.youtube.com/">
                <svg class="social__icons">
                  <use href="./images/footer/footer-icons.svg#icon-youtube" />
                </svg>
              </a>
            </li>
            <li class="icons__item">
              <a class="icons__link" href="https://www.instagram.com/">
                <svg class="social__icons">
                  <use href="./images/footer/footer-icons.svg#icon-instagram" />
                </svg>
              </a>
            </li>
            <li class="icons__item">
              <a class="icons__link" href="https://x.com/?lang=uk">
                <svg class="social__icons">
                  <use href="./images/footer/footer-icons.svg#icon-twitter" />
                </svg>
              </a>
            </li>
            <li class="icons__item">
              <a
                class="icons__link"
                href="https://www.facebook.com/?locale=uk_UA"
              >
                <svg class="social__icons">
                  <use href="./images/footer/footer-icons.svg#icon-facebook" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- TEXT -->
      <div class="agree">
        <p class="agree__text">
          By using this website, you agree to the
          <a class="agree__link agree__link--line" href="#">Terms of Service </a
          >and
          <a class="agree__link agree__link--line" href="#">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
