<header class="header">
  <div class="container header__container">
    <a href="./index.html">
      <img class="logo" src="./images/header/logo.svg" alt="logo" />
    </a>
    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>
      <div class="mobile-menu__wrapp" data-menu>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#hero" data-mobile-link>Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#philosophy" data-mobile-link>About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#apartment" data-mobile-link
                >Apartments</a
              >
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#infrastructure" data-mobile-link
                >Infrastructure</a
              >
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#gallery" data-mobile-link>Gallery</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#contacts" data-mobile-link
                >Contacts</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <a class="nav__btn button button--transparent" href="#contacts"
      >Contact us</a
    >
  </div>
</header>
