<header class="header">
  <div class="container header__container">
    <a href="./index.html">
      <img class="logo" src="./images/header/logo.svg" alt="logo" />
    </a>
    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>
      <div class="mobile-menu__wrapp" data-menu>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Apartments</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Infrastructure</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Gallery</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <button class="nav__btn button button--transparent" data-modal-header-open>
      Contact us
    </button>
    <div class="backdrop is-hidden-header" data-modal-header>
      <div class="modal">
        <button class="modal__button btn-close" data-modal-header-close>
          <svg
            width="17"
            height="17"
            viewBox="0 0 17 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.48533 6.6L15.0853 0L16.9707 1.88533L10.3707 8.48533L16.9707 15.0853L15.0853 16.9707L8.48533 10.3707L1.88533 16.9707L0 15.0853L6.6 8.48533L0 1.88533L1.88533 0L8.48533 6.6Z"
              fill="#35322D"
            />
          </svg>
        </button>

        <div class="modal__content">
          <form class="modal__form">
            <h2 class="modal__title">
              Leave your contacts and we will contact you
            </h2>
            <div class="form__field">
              <label for="user" class="label label__user">Name</label>
              <div class="form-wrapper">
                <input
                  type="text"
                  id="user"
                  name="username"
                  placeholder="Yuliia"
                  minlength="2"
                  maxlength="10"
                  required
                  class="form__input"
                />
              </div>
            </div>

            <div class="form__field">
              <label for="phone" class="tel__label label">Telephone</label>
              <div class="form-wrapper">
                <input
                  type="tel"
                  id="phone"
                  name="tel"
                  min="18"
                  max="99"
                  placeholder="+380"
                  required
                  class="form__input"
                />
              </div>
            </div>

            <div class="form__field">
              <label for="email" class="email__label label">Email</label>
              <div class="form-wrapper">
                <input
                  type="email"
                  id="email"
                  name="email"
                  min="18"
                  max="99"
                  placeholder="Contact@gmail.com"
                  required
                  class="form__input"
                />
              </div>
            </div>
          </form>
          <button type="submit" class="form__button">Contact us</button>
        </div>
      </div>
    </div>
  </div>
</header>
