<section class="infrastructure">
  <div class="container infrastructure__container">
    <h2 class="infrastructure__title">Infrastructure</h2>
    <div class="infrastructure__bgfoto">
      <div class="infrastructure__details">
        <div class="infrastructure__supermarket">
          <div class="infrastructure__circle">
            <p class="infrastructure__time">2 minutes walk</p>
          </div>
          <p class="infrastructure__locations">to the supermarket</p>
        </div>
        <div
          class="infrastructure__supermarket infrastructure__supermarket-second"
        >
          <div class="infrastructure__circle infrastructure__circle-second">
            <p class="infrastructure__time infrastructure__time-second">
              4 minutes walk
            </p>
          </div>
          <p class="infrastructure__locations">to the coffee shop</p>
        </div>
        <div class="infrastructure__supermarket">
          <div class="infrastructure__circle">
            <p class="infrastructure__time">7 minutes walk</p>
          </div>
          <p class="infrastructure__locations">to the nearest park</p>
        </div>
      </div>
    </div>
  </div>
</section>
