<section id="philosophy" class="philosophy">
  <div class="philosophy__content">
    <div class="philosophy__top">
      <div class="container philosophy__container">
        <article class="philosophy__about">
          <div class="details">
            <!--............... details................ -->
            <ul class="details__list">
              <!-- 01 -->
              <li class="details__item">
                <p class="details__text details__text--valise">
                  15 years of experience
                </p>
              </li>
              <!-- 02 -->
              <li class="details__item">
                <p class="details__text details__text--graphic">
                  30 thousand happy residents
                </p>
              </li>
              <!-- 03 -->
              <li class="details__item">
                <p class="details__text details__text--house">
                  22 houses built
                </p>
              </li>
              <!-- 04 -->
              <li class="details__item">
                <p class="details__text details__text--award">9 awards</p>
              </li>
            </ul>
          </div>
          <!--.............. phylosophy of company............... -->
          <div class="philosophy__company">
            <h3 class="philosophy__title">Philosophy of our company</h3>
            <p class="philosophy__text">
              Residential complex “Nice view” is an island of tranquility,
              security and comfort. In our project, we created the opportunity
              to lead a measured life in the very center of the city.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
