<section class="philosophy">
  <div class="container philosophy__container">
    <article class="philosophy__about">
      <div class="details">
        <!--............... details................ -->
        <ul class="details__list">
          <!-- 01 -->
          <li class="details__item">
            <p class="details__text">15 years of experience</p>
          </li>
          <!-- 02 -->
          <li class="details__item">
            <p class="details__text">30 thousand happy residents</p>
          </li>
          <!-- 03 -->
          <li class="details__item">
            <p class="details__text">22 houses built</p>
          </li>
          <!-- 04 -->
          <li class="details__item">
            <p class="details__text">9 awards</p>
          </li>
        </ul>
      </div>
      <!--.............. phylosophy of company............... -->
      <h3 class="phylosophy__title">Philosophy of our company</h3>
      <p class="philosophy__text">
        Residential complex “Nice view” is an island of tranquility, security
        and comfort. In our project, we created the opportunity to lead a
        measured life in the very center of the city.
      </p>
    </article>
  </div>
</section>
