.apartment {
  &__container {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.15);
    padding-top: 20px;
 border: 2px solid transparent;
    width: 280px;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;


    border-radius: 16px;
    &:hover {
      border: solid 2px $colorTextPrimary;
      transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.237);
    
    }
  }

  &__tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    font-weight: 500;
    max-width: 270px;
  }
  &__subtitle {
    font-size: 28px;
    color: $colorTextSecondary;
    font-weight: 400;
    margin-top: 20px;
  }
  &__text {
    font-size: 20px;
    font-weight: 300;
  }
  &__hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
  }
  &__button {
    font-size: 18px;
    text-align: center;
  }
}
