.button {
  background-color: $colorTextPrimary;
  border: 1px solid transparent;
  font-weight: 500;
  color: $colorBgPrimary;
  border-radius: 16px;
  padding: 14px 28px;
  transition: border-color 0.3s ease, color 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    background-color: $colorBgPrimary;
    color: $colorTextPrimary;
    border: 1px solid $colorTextPrimary;
    transition: border-color 0.3s ease, color 0.3s ease,
      background-color 0.3s ease;
  }
}

.button--invert {
  border-radius: 16px;
  padding: 10px 45px;
  border: 1px solid transparent;
  font-weight: 300;
  font-size: 20px;
  color: $colorTextSecondary;
  background-color: $colorBgPrimary;
  &:hover {
    background-color: $colorTextPrimary;
    color: $colorBgPrimary;
    border: 1px solid transparent;
  }
}

.button--transparent {
  border-radius: 8px;
  padding: 8px 30px;
  border: 1px solid $colorText;
  font-weight: 300;
  font-size: 16px;
  color: $colorText;
  background-color: transparent;
  &:hover {
    background-color: $colorText;
    color: $colorTextSecondary;
    border: 1px solid transparent;
  }
}

@media screen and (min-width: 704px) {
  .button--invert {
    padding: 9px 62px;
    font-size: 24px;
  }
}
