.container {
  max-width: 1174px;
  min-width: 320px;
  padding: 0px 20px 0px 20px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
     padding-inline: 32px;
  }
}
