.footer {
  background-image: linear-gradient(
    to right,
    $colorTextPrimary,
    $colorTextSecondary
  );
}
.footer {
  background-color: rgb(217, 214, 214);
}

.footer__container {
  padding: 20px 15px 8px 20px;
  display: flex;
  justify-content: center;
}

.footer__meta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__logo {
  width: 56px;
  height: 56px;
  display: none;
}

.footer__list {
  display: flex;

  flex-direction: row;
  gap: 46px;
}

.navigation__list,
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navigation__title,
.contacts__title {
  font-weight: 600;
  font-size: 18px;
}

.navigation__link,
.contacts__link {
  font-weight: 300;
  font-size: 14px;
}

.navigation__title,
.navigation__link,
.contacts__title,
.contacts__link {
  color: $colorText;
}

.navigation__link,
.contacts__link {
  transition: color 0.3s ease;
}

.navigation__link:hover,
.contacts__link:hover {
  color: #7f6e54;
}

.contacts__item,
.contacts__item-email {
  max-width: 135px;
}

.contacts__item-email {
  word-break: break-all;
}

.icons__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.social__icons {
  fill: $colorText;
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease;
}

.social__icons:hover {
  fill: #7f6e54;
}

.icons__link {
  width: 24px;
  height: 24px;
}

.agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.agree__text {
  color: #979797;
}

.agree__link {
  color: $colorText;
}

.agree__link--line {
  text-decoration: underline;
  transition: color 0.2s ease;
}

.agree__link--line:hover {
  color: #c5ab839a;
}

// ..........................TABLET VERSION .....................

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    gap: 127px;
  }

  .footer__meta {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo {
    display: block;
  }

  .social-footer__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 91px;
  }

  .footer__list {
    display: flex;
    gap: 83px;
    flex-grow: 1;
  }

  .contacts__item-email {
    max-width: 219px;
  }

  .icons__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
  }
}

// ..........................DESKTOP VERSION .....................
@media screen and (min-width: 1280px) {
  .footer__container {
    display: flex;
    gap: 162px;
  }

  .social-footer__list {
    display: flex;
    gap: 253px;
  }

  .footer__list {
    display: flex;
    gap: 208px;
  }

  .contacts__item {
    min-width: 100%;
  }
}
