.swiper-pagination-bullet {
  background: #c4c4c4;
  
  opacity: 1;
}
.swiper-pagination-bullet-active {
  border: 1px solid #7e6d53;
  
}
.swiper-pagination {
  position: static;
  margin-top: 8px;
 
  
}
.swiper-button-next,
.swiper-button-prev {
  color: #000000;
  width: 12px;

  transition: color 0.3s ease, color 0.3s ease;
  &:hover {
    color: #7e6d53;

    transition: color 0.3s ease, color 0.3s ease;
  }
}
.swiper-button-prev{
    transform: translateX(-10px);

}
.swiper-button-next{
    transform: translateX(10px);
}