.header {
  padding-top: 26px;
  padding-bottom: 26px;
  background-image: linear-gradient(
    to right,
    $colorTextPrimary,
    $colorTextSecondary
  );
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.logo {
  min-width: 36px;
  min-height: 28px;
  cursor: pointer;
}
.nav__list {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav__link {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: $fontSecondary;
  color: $colorText;
}
.nav__btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    min-width: 56px;
    min-height: 56px;
    padding: 8.5px 13px;
  }
  .nav__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    min-width: 56px;
    min-height: 56px;
    padding: 8.5px 13px;
  }
  .nav__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .nav__btn {
    display: block;
  }
}
