.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    .modal {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  &:not(.is-hidden-hero) .modal {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
.backdrop.is-hidden-hero {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  background-color: $colorBgPrimary;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 50px 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__title {
    font-weight: 700;
    font-size: 20px;
    color: $colorTextModal;
    margin-bottom: 28px;
    width: 273px;
  }

  &__button {
    position: absolute;
    top: 7px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }
}

.btn-close {
  position: absolute;
  background-color: #fcfcfb;
  top: 12px;
  right: 12px;
  &:hover {
    cursor: pointer;
  }
}

.no__scroll-hero {
  overflow: hidden;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form {
  &__wrapper {
    display: flex;

    justify-content: left;
    border: 1px solid $colorTextModal;
    border-radius: 4px;
    width: 100%;
  }
  &__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__button {
    border-radius: 8px;
    padding: 14px 76px;
    border: 1px solid transparent;
    background-color: $colorTextPrimary;
    font-weight: 400;
    font-size: 16px;
    color: #fcfcfb;
    transition: border-color 0.3s ease, color 0.3s ease,
      background-color 0.3s ease;
    &:hover {
      cursor: pointer;
      background-color: #2e2b23;
      color: #fcfcfb;
      border: 1px solid $colorTextPrimary;
      transition: border-color 0.3s ease, color 0.3s ease,
        background-color 0.3s ease;
    }
  }
}

.form__input {
  border: 1px solid #35322d;
  transition: border-color 0.3s ease;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  font-family: $fontModal;
  font-weight: 400;
  font-size: 14px;
  color: $colorTextSecondary;
  margin-bottom: 20px;
  &:focus {
    outline: 0;
    border-color: $colorTextPrimary;
  }
}

.label {
  font-weight: 400;
  font-size: 14px;
  color: $colorTextModal;
  font-family: $fontModal;
}

input::placeholder {
  transition: color 0.3s ease;
}

input:focus::placeholder {
  color: transparent;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 60px;
    &__title {
      font-size: 28px;
      text-align: center;
      min-width: 410px;
      margin-bottom: 40px;
    }
  }
  .modal__form {
    min-width: 410px;
  }
}
