.menu-btn {
  position: relative;
  display: block;
  z-index: 9;
  width: 24px;
  height: 24px;
  padding: 4px 3px;
  background: none;
}

.menu-btn::before,
.menu-btn::after {
  content: '';
}
.menu-btn::before,
.menu-btn__line,
.menu-btn::after {
  width: 100%;
  height: 2px;
  background-color: $colorText;
  position: absolute;
  left: 0;
  transition: 0.5s linear;
  transition-property: top, transform;
}

.menu-btn::before {
  top: 0;
}
.menu-btn__line {
  top: calc(50% - 1px);
}
.menu-btn::after {
  top: calc(100% - 2px);
}

.menu-btn.is-open {
  &::before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-btn__line {
    transform-origin: top;
    transform: scaleX(0);
  }
  &::after {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
