.infrastructure {
  padding: 60px 0;
  position: relative;

  &__container {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  &__bgfoto {
    background-image: url('../../img/infrastructure.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 20px;
    position: relative;
  }

  &__details {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 16px;

    max-width: 340px;
    max-height: 420px;

    padding: 30px 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;

    &:nth-child(2) {
      .infrastructure__circle {
        order: 2;
      }
      .infrastructure__locations {
        order: 1;
      }
    }
  }

  &__circle {
    width: 86px;
    height: 86px;
    border: 2px solid var(--colorTextSecondary);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    color: var(--colorTextSecondary);
    line-height: 1.1;
  }

  &__time {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2px;
  }

  &__locations {
    font-weight: 500;
    max-width: 140px;
    text-align: left;
    line-height: 1.2;
  }
}
